@import "variables";
#header {
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
  background-color: white;
  border: 1px solid $silver;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 4px 2px -2px $silver-chalice;
  position: sticky;
  top: 0;
  z-index: 1;

  & > :first-child {
    padding-left: 2rem;
  }

  & > :last-child {
    padding-right: 2rem;
  }
}